#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.task-list-container {
    width: 400px;
}

.task-row {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-task-row {
    width: max-content;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.task-form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: start;
}

input {
    font-size: 12pt;
    padding: 3px;
    width: auto;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}